<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CheckIn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AB02308325FBCB35D7241F0AD7C1D2EF78B95AF9</string>
				<key>dateExpires</key>
				<string>4/9/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5NSS72SP2Z.com.virtusa.eag.checkin</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5NSS72SP2Z</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5NSS72SP2Z.com.microsoft.adalcache</string>
				</array>
			</dict>
			<key>name</key>
			<string>CheckIn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3e6daa29-59d7-4a07-bef1-8bcea8266b8e</string>
				<key>name</key>
				<string>PUBLIC DEV VIRTUSA EAG CHECKIN MOBILE</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5NSS72SP2Z</string>
				<key>name</key>
				<string>Virtusa Corporation (Company)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
